html, body {
  height: 100%;
  margin: 0;
}
 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
      /* Optional: Makes the sample page fill the window. */


.wrapper {
  min-height: 100%;
  margin-bottom: -50px;

 }
 .nav-wrapper{
  /* background-color:rgba(80, 4, 17, 0.801); */
  background-color: #008577;
 }
.footer,.push {
  height: 50px;
  
}
.page-footer{
  /* background-color:rgba(80, 4, 17, 0.801); */
  background-color: #008577;
}
.brand-logo{
  font-family: 'Zhi Mang Xing', cursive;
  /* font-size:40px; */
}


/* Laptops and Desktops */
@media only screen and (min-width: 992px) {

    .find-and-report-form {
    margin: 500px auto;
    padding: 0 20%;
    
    }
    .j1
    {
      float:none; /* disable the float */
      display: inline-block; /* make blocks inline-block */
      text-align: initial; 
    }
    .crop-items{
      margin:100px auto;
      width: 80%;
    }
    .j{
      height:400px;
       width:400px;
    }
    /* css for 1st image in index page */
     .front-image{
       height:auto;
       width: 100%;
    } 
    .app-description-content-img{
      width: 20%;
      /* margin: 50px auto; */
      float: left;
      margin:0 50px;
    }
    .app-description-content-text{
      padding:20px 0;
      /* display: inline-block; */
    }
    .app-description-content{
      width: 60%;
      margin:50px auto;
      height:200px;
      box-sizing: border-box;
    }
}




/* Tablets */
@media only screen and (min-width: 600px){
    .find-and-report-form {
    margin: 300px auto;
    padding: 0 10%;
    }
    .crop-items{
      margin:100px auto;
      width: 80%;
    }
    /* css for 1st image in index page */
    .front-image{
      height:auto;
      width:100%
     }  
     .app-description-content-img{
      width: 40%;
      float: left;
      margin:0 50px;
    }
    .app-description-content-text{
      padding:20px 0;
      /* display: inline-block; */
    }
    .app-description-content{
      width: 60%;
      margin:50px auto;
      height:200px;
      box-sizing: border-box;
    }
}

/* Phones */
@media only screen and (max-width: 600px) {
    .find-and-report-form {
    margin: 200px auto;
    padding: 0 5%;
    }
    .crop-items{
      margin:50px auto;
      width: 90%;
    }

    /* css for 1st image in index page */
     .front-image{ 
       width: 100%;
      }  

    .app-description-content-img{
      width: 40%;
      display: block;
      margin: 50px auto;
      /* text-align: center; */
    }
    .app-description-content-text{
      padding:0 10px;
      /* font-size: */
    }
}
/* font-family: 'Zhi Mang Xing', cursive;
font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive; */